<!DOCTYPE html>
<html>
<head>
    <title>Payment Successful</title>
</head>
<body>
    <h1>Payment Successful!</h1>
    <p>Thank you for your purchase, <%= order.total %>. Your order has been confirmed.</p>
    <p>Order ID: <%= order._id %></p>
    <p>Total Amount: <%= order.totalPrice %></p>
    <p>Status: <%= order.status %></p>
</body>
</html>
