<!DOCTYPE html>
<html>
<head>
    <title>Payment Failed</title>
</head>
<body>
    <h1>Payment Failed</h1>
    <p>Sorry, your payment could not be processed. Please try again later.</p>
    <!-- <p>Order ID: <%= order._id %></p>
    <p>Status: <%= order.status %></p> -->
</body>
</html>
